<!DOCTYPE html>
<html>
  <%- include('../views/partials/head'); %>
  <body>
    <%- include('../views/partials/header'); %>

    <div class="container m-5">
      <main class="bg-body pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <div class="tweetBox">
                <form action="/username/saveTweet" method="POST">
                  <div class="row">
                    <div class="col-md-1">
                      <div class="profileImage">
                        <img
                                src="<%= user.image %>"
                                alt="imagen-perfil"
                                class="rounded-circle"
                                width="50"
                                height="50"
                              />
                      </div>
                    </div>
                    <div class="col-md-11">
                      <input type="hidden" name="_id" value="<%= user._id %>" />
                      <div class="form-group tweetInput">
                        <textarea
                          class="form-control"
                          name="text"
                          id="tweetText"
                          rows="3"
                          placeholder="¿Qué está pasando?"
                        ></textarea>
                      </div>
                      <div
                        class="tweetAttachSubmit d-flex justify-content-end pr-3 pb-3"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary rounded-pill"
                        >
                          Twittear
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="tweetsFollowings mt-3">
                  <div class="row">
                    <div class="col">
                      <div class="tweetDescriptionFollowing">
                        <div class="container">
                          <div class="textInsideFollowing">
                            <% const viewTweets = [] %>
                            <% user.following.forEach(follower => { %>
                              <% follower.tweets.forEach(tweet => { %>
                                <% viewTweets.push(tweet); %>
                                <% }) %>
                                <% }) %>
                                <% viewTweets.sort((a, b) => {
                                  return new Date(b.date) - new Date(a.date);
                                }); %> 
                                <% viewTweets.forEach(viewTweet => { %>
                            <div class="container border">
                              <img
                                src="<%= viewTweet.author.image %>"
                                alt="imagen-perfil"
                                class="rounded-circle"
                                width="50"
                                height="50"
                              />
                              <a
                                href="http://localhost:3000/username/<%= viewTweet.author.username %>"
                                ><%= viewTweet.author.username %></a
                              >
                              <p><%= viewTweet.text %></p>
                              <p><%= viewTweet.date %></p>
                              <div class="likesBox">
                                <form
                                  action="http://localhost:3000/like/<%= viewTweet._id %>"
                                  method="GET"
                                >
                                  <button
                                    class="far fa-heart"
                                    id="follow-btn"
                                  ></button>
                                </form>
                                <p><%= viewTweet.likes %></p>
                                <p>
                                  <!-- objeto de likes para ir mostrando numeros -->
                                </p>
                              </div>
                            </div>
                            <% }) %>
                            <p><!-- contenido del tweet del following --></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <%-include('../views/partials/footer'); %>
    <%-include('../views/partials/scripts'); %>
  </body>
</html>
