<!DOCTYPE html>
<html>
  <%- include('../views/partials/head'); %>
  <body>
    <%- include('../views/partials/header'); %>
    
    <div class="container pb-4">
      <h1 class="my-4 text-center">Admin Control</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td>
              <% if (user.roleId === 100) { %> Reader <% } else if (user.roleId === 200) { %> Writer <% } else if (user.roleId === 300) { %> Editor <% } else if (user.roleId === 400) { %> Admin <% } %> 
            </td>
            <td>
              <a href="/admin/users/update/<%= user.id %>" class="btn btn-sm btn-dark">
                Update
              </a>
              <a href="/admin/users/delete/<%= user.id %>" class="btn btn-sm btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%-include('../views/partials/footer'); %>
    <%-include('../views/partials/scripts'); %>
  </body>
</html>
