<!DOCTYPE html>
<html>
  <%- include('../views/partials/head'); %>
  <body>
    <%- include('../views/partials/header'); %> 

    <div class="container pb-4">
  <h1 class="my-4 text-center">Edit user info</h1>
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <!-- /.card-header -->
        <div class="card-body">
          <form
            class=""
            action="/admin/users/update/<%= user.id %>"
            method="post"
            data-parsley-validate
          >
            <h5>
              <label for="firstname">firstname</label>
            </h5>
            <div class="form-group">
              <textarea
                class="form-control"
                aria-label="With textarea"
                type="text"
                name="firstname"
                value="<%= user.firstname %>"
                required="true"
              ></textarea>
            </div>
            <h5>
              <label for="lastname">lastname</label>
            </h5>
            <div class="form-group">
              <textarea
                class="form-control"
                aria-label="With textarea"
                type="text"
                name="lastname"
                value="<%= user.lastname %>"
                required="true"
              ></textarea>
            </div>
            <h5>
              <label for="email">email</label>
            </h5>
            <div class="form-group">
              <textarea
                class="form-control"
                aria-label="With textarea"
                type="text"
                name="email"
                value="<%= user.email %>"
                required="true"
              ></textarea>
            </div>
            <h5>
              <label for="roleId">Permissions</label>
            </h5>
            <select
              class="browser-default custom-select"
              id="role"
              name="roleId"
            >
              <option value="100">Reader</option>
              <option value="200">Writer</option>
              <option value="300">Editor</option>
              <option value="400">Admin</option>
            </select>
            <div class="pt-3">
              <button type="submit" name="button" class="btn btn-success">
                Update
              </button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <hr />
    </div>
  </div>
</div>

    <%-include('../views/partials/footer'); %>
    <%-include('../views/partials/scripts'); %>
  </body>
</html>
